@model List<ToDoViewModel>
@{
    int year = 2024; // Set the year for the calendars
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        height: 75px;
        width: calc(100% / 7); /* Distribute width evenly among the 7 days */
        vertical-align: top; /* Align content to the top of the cell */
    }

    .task {
        max-height: 50px; /* Limit the height of the task content */
        overflow: hidden; /* Hide overflow if content exceeds max-height */
        text-overflow: ellipsis; /* Show ellipsis (...) for truncated content */
        white-space: normal; /* Allow text to wrap */
        word-wrap: break-word; /* Break words that exceed the cell width */
    }
</style>

@for (int month = 1; month <= 12; month++)
{
    <h1 class="text-center">@(new DateTime(year, month, 1).ToString("MMMM"))</h1>
    <table>
        @{
            int daysInMonth = DateTime.DaysInMonth(year, month);
            int dayOfWeek = (int)new DateTime(year, month, 1).DayOfWeek;
            int count = 0;
        }
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                @for (int j = 0; j < 7; j++)
                {
                    if (i == 0 && j < dayOfWeek)
                    {
                        <td></td>
                    }
                    else if (count < daysInMonth)
                    {
                        count++;
                        var date = new DateTime(year, month, count);
                        <td>
                            @count
                            @foreach (var viewModel in Model)
                            {
                                foreach (var task in viewModel.Tasks)
                                {
                                    if (task.DueDate.HasValue && task.DueDate.Value.Date == date.Date)
                                    {
                                        <div class="task">@task.Description</div>
                                    }
                                }
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </table>
    <div style="height: 170px"></div>
}

<a asp-controller="home" asp-action="index" class="btn btn-primary">Go back home</a>
